<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"><title th:text="#{title}">Gestión de flotas</title></head>
<body>
  <!-- Barra de Navegación superior -->
  <nav th:replace="fragments/nav"></nav>
  <div class="container" id="main-container">
    <h2 th:text="#{empleado.detalles}">Detalles del empleado</h2>
    <div class="card">
      <div class="card-header" th:text="#{nombre}">Nombre:</div>
      <div class="card-body">
        <p class="card-text" th:text="${empleado.nombre}"></p>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header" th:text="#{apellidos}">Apellidos:</div>
      <div class="card-body">
        <p class="card-text" th:text="${empleado.apellidos}"></p>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">DNI</div>
      <div class="card-body">
        <p class="card-text" th:text="${empleado.dni}"></p>
      </div>
    </div>
    <div class="card">
      <div class="card-header" th:text="#{rol}">Rol:</div>
      <div class="card-body">
        <p class="card-text" th:text="${empleado.role}"></p>
      </div>
    </div>
  </div>
  <footer th:replace="fragments/footer"></footer>
</body>
</html>