<!-- nav.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <a class="navbar-brand" href="#"></a>
    <img src="/images/student-48.png" alt="logo"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
            <li class="nav-item ">
                <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"> Mi usuario
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/empleado/password">Cambiar contraseña</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:text="#{nav.trayectos}" href="#" id="trayectosDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"> Gestión de trayectos
                </a>
                <div class="dropdown-menu" aria-labelledby="trayectosDropdown">
                    <a class="dropdown-item" th:text="#{nav.trayectos.list}" href="/trayecto/list">Ver Trayectos</a>
                    <a class="dropdown-item" th:text="#{nav.trayectos.add}" href="/trayecto/add" sec:authorize="hasAnyRole('ROLE_ESTANDAR','ROLE_ADMIN')" th:if="${!tieneTrayectoEnCurso}">Agregar Trayecto</a>
                    <a class="dropdown-item" th:text="#{nav.trayectos.end}" href="/trayecto/end" th:if="${tieneTrayectoEnCurso}">Finalizar Trayecto</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:text="#{nav.empleados}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"> Gestión de empleados
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:text="#{nav.empleados.list}" href="/empleado/list">Ver Empleados</a>
                    <a class="dropdown-item" th:text="#{nav.empleados.add}" href="/empleado/add" sec:authorize="hasAnyRole('ROLE_ADMIN')">Agregar empleado</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:text="#{nav.vehiculos}" href="#" id="vehiculoDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"> Gestión de vehículos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{nav.vehiculos.list}" class="dropdown-item" href="/vehiculo/list">Ver vehículos</a>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{nav.vehiculos.add}" class="dropdown-item" href="/vehiculo/add">Agregar vehiculo</a>
                    <a th:text="#{nav.vehiculos.trayectos}" class="dropdown-item" href="/vehiculo/listAll">Ver trayectos de vehículo</a>
                    <a th:text="#{nav.vehiculos.repostajes}" class="dropdown-item" href="/vehiculo/listAllRepostajes">Ver repostajes de vehículo</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:text="#{nav.repostajes}" href="#" id="repostajeDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"> Repostajes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" th:if="${tieneTrayectoEnCurso}">
                    <a class="dropdown-item" th:text="#{nav.repostajes.add}" href="/repostajes/add">Agregar repostajes</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="btnLanguage" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span th:text="#{language.change}"></span>
                </a>
                <div id="languageDropdownMenuButton" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="?lang=en">
                        <img th:src="@{/images/if_uk_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
                        <span th:text="#{language.en}">Inglés</span>
                    </a>
                    <a class="dropdown-item" href="?lang=es">
                        <img th:src="@{/images/if_spain_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
                        <span th:text="#{language.es}">Español</span>
                    </a>
                    <a class="dropdown-item" href="?lang=fr">
                        <img th:src="@{/images/if_france_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
                        <span th:text="#{language.fr}">Francés</span>
                    </a>
                </div>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/login">
                    <i class='fas fa-sign-in-alt' style='font-size:16px'></i>
                    <span th:text="#{login.message}"></span>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/logout">
                    <i class='fas fa-sign-out-alt' style='font-size:16px'></i>
                    <span th:text="#{logout.message}"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>