<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="table-responsive">
  <table class="table table-hover" th:fragment="trayectosTable" id="trayectosTable">
    <thead>
    <tr>
      <th scope="col">ID del trayecto</th>
      <th scope="col">Fecha de inicio</th>
      <th scope="col">Matrícula del vehículo</th>
      <th scope="col">Duración del trayecto</th>
      <th scope="col">Odómetro inicio</th>
      <th scope="col">Odómetro final</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="trayecto : ${trayectosList}">
      <td scope="row" th:text="${trayecto.id}"> 1</td>
      <td th:text="${trayecto.fechaInicioTrayecto}">Fecha inicio</td>
      <td th:text="${trayecto.vehiculo.matricula}">0000BBB</td>
      <td th:text="${trayecto.duracionTrayecto}">120</td>
      <td th:text="${trayecto.odometroInicio}">0</td>
      <td th:text="${trayecto.odometroFin}">100</td>
    </tr>
    </tbody>
  </table>
</div>