<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="table-responsive">
  <table class="table table-hover" th:fragment="vehiculosTable" id="vehiculosTable">
    <thead>
    <tr>
      <th scope="col">ID del vehículo</th>
      <th scope="col">Matrícula</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Odómetro actual</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vehiculo : ${vehiculosList}">
      <td scope="row" th:text="${vehiculo.id}">1</td>
      <td th:text="${vehiculo.matricula}">0000BBB</td>
      <td th:text="${vehiculo.marca}">Ford</td>
      <td th:text="${vehiculo.modelo}">Fiesta</td>
      <td th:text="${vehiculo.odometro}">0</td>
      <td><a th:href="${'/vehiculo/trayectos/' + vehiculo.id}">Trayectos</a></td>
      <td><a th:href="${'/vehiculo/repostajes/' + vehiculo.id}">Repostajes</a></td>
    </tr>
    </tbody>
  </table>
</div>