<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head th:replace="fragments/head"><title th:text="#{title}">Gestión de flotas</title></head>
    <body>
        <nav th:replace="fragments/nav"></nav>
        <h1>❌ Acceso Denegado</h1>
        <p>No tienes permisos para acceder a esta página.</p>
        <a href="/">Volver al inicio</a>
        <footer th:replace="fragments/footer"></footer>
    </body>
</html>