<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head">
    <title>Trayectos vehículo</title>
</head>

<body>
<nav th:replace="fragments/nav"></nav>
<div class="container" id="main-container">
    <h2>Trayectos del vehículo</h2>
    <label class="control-label col-sm-2" for="vehiculo" th:text="#{trayecto.vehiculo}">Vehículo:</label>
    <div class="col-sm-10" th:if="${vehiculosList != null and not #lists.isEmpty(vehiculosList)}">
        <select id="vehiculo" class="form-control" name="vehiculo"
                th:value="${selectedVehiculoId}">
            <option th:each="vehiculo : ${vehiculosList}" th:value="${vehiculo.id}"
                    th:text="|${vehiculo.matricula} - ${vehiculo.marca} ${vehiculo.modelo}|"
                    th:data-odometro="${vehiculo.odometro}">
            </option>
        </select>
        <script>
            /*<![CDATA[*/
            $(function() {
                $( "#vehiculo" ).change(function() {
                let vehiculoId = $("#vehiculo").val();
                console.log("ID seleccionado: " + vehiculoId);
                let urlUpdate = '/vehiculo/trayectos/update';
                let params = [];
                if (vehiculoId != null) {
                    params.push("vehiculoId=" + vehiculoId);
                }

                if (params.length > 0) {
                    urlUpdate += "?" + params.join("&");
                }
                $("#trayectosTable").load(urlUpdate);
            });});
            /*]]>*/
        </script>
    </div>

    <p>Los trayectos del vehículo seleccionado son los siguientes:</p>

    <!-- Aquí se reemplazará la tabla de trayectos mediante th:replace -->
    <div id="trayectosTable" th:replace="fragments/trayectosTable" class="table-responsive" th:fragment="trayectosTable"></div>
    <footer th:replace="fragments/pagination"/>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
