<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"><title th:text="#{title}">Gestión de flotas</title></head>
<body>
<nav th:replace="fragments/nav"></nav>
<div class="container" id="main-container">
    <h2 th:text="#{nav.vehiculos}">Vehículos</h2>
    <p th:text="#{vehiculos.subtitle}">Los vehículos que actualmente figuran en el sistema son las siguientes:</p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" th:text="#{vehiculos.matricula}">Matricula</th>
                <th scope="col" th:text="#{vehiculos.bastidor}">Nº Bastidor</th>
                <th scope="col" th:text="#{vehiculos.marca}">Marca</th>
                <th scope="col" th:text="#{vehiculos.modelo}">Modelo</th>
                <th scope="col" th:text="#{vehiculos.combustible}">Combustible</th>
                <th scope="col" th:text="#{vehiculos.kilometraje}">Kilometraje</th>
                <th scope="col" th:text="#{vehiculos.estado}">Estado Vehiculo</th>
                <th scope="col" th:text="#{eliminar}">Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vehiculo : ${vehiculosList}">
                <td scope="row" th:text="${vehiculo.matricula}"> 55555555A</td>
                <td th:text="${vehiculo.numeroBastidor}"> ppppppppppppppppp</td>
                <td th:text="${vehiculo.marca}">Mercedes</td>
                <td th:text="${vehiculo.modelo}"> M4</td>
                <td th:text="${vehiculo.tipoCombustible}">Diesel</td>
                <td th:text="${vehiculo.odometro}">0</td>
                <td th:text="${vehiculo.getEstadoFormulario()}">LIBRE</td>
                <td><input type="checkbox" name="vehiculosSeleccionados" th:value="${vehiculo.id}"/></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(vehiculosList)}" th:text="#{vehiculos.nohay}">No hay vehículos</div>
    <button type="button" id="deleteButton" class="btn btn-primary" th:text="#{eliminar}">Eliminar</button>
    <form id="deleteForm" action="/vehiculo/delete" method="post" style="display: none;">
        <input type="hidden" name="vehiculosSeleccionados" id="vehiculosSeleccionados" />
    </form>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $("#deleteButton").click(function() {
            let selectedVehicles = $("input[name='vehiculosSeleccionados']:checked")
                .map(function() { return this.value; }).get(); // Obtener IDs seleccionados
            // Establecer los valores en el campo oculto
            $("#vehiculosSeleccionados").val(selectedVehicles.join(','));
            // Enviar el formulario con los datos
            $("#deleteForm").submit();
        });
        $("#selectAll").change(function () {
            $("input[name='vehiculosSeleccionados']").prop('checked', this.checked);
        });
        /*]]>*/
    </script>
    <footer th:replace="fragments/pagination"></footer>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>