<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"><title th:text="#{title}">Gestión de flotas</title></head>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"></nav>
<div class="container">
    <h2 th:text="#{repostaje.registrar}">Registrar repostaje</h2>
        <h3 th:text="#{repostaje.registrar.estacion}">Nombre de la estación de servicio:</h3>
        <p th:text="${repostaje.nombreEstacion}"></p>

        <h3 th:text="#{repostaje.registrar.matriculacoche}">Coche vinculado:</h3>
        <p th:text="${repostaje.vehiculo.matricula}"></p>

        <h3 th:text="#{repostaje.registrar.odometrocoche}">Odómetro coche:</h3>
        <p th:text="${repostaje.vehiculo.odometro}"></p>

        <h3 th:text="#{repostaje.registrar.cantidadtanque}">Cantidad tanque:</h3>
        <p th:text="${repostaje.vehiculo.cantidadTanque}"></p>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>