<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head">Registrar repostaje</head>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"></nav>

<div class="container">
    <h2>Registrar repostaje</h2>

    <h3>Nombre Estación:</h3>
    <p th:text="${repostaje.nombreEstacion}"></p>

    <h3>Coche vinculado:</h3>
    <p th:text="${repostaje.vehiculo.matricula}"></p>

    <h3>Odómetro coche:</h3>
    <p th:text="${repostaje.vehiculo.odometro}"></p>

    <h3>Cantidad tanque:</h3>
    <p th:text="${repostaje.vehiculo.cantidadTanque}"></p>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>